@charset "UTF-8";
.details {
  width: 100%;
  background: #fff;
}

.details .content {
  width: 1100px;
  margin: auto;
}

.details .content p a {
  color: #666;
  line-height: 50px;
  font-size: 12px;
}

.details .content p span {
  font-size: 12px;
  line-height: 50px;
  color: #666;
}

.details .content .dedl dt {
  width: 402px;
  float: left;
}

.details .content .dedl dt .debig {
  height: 400px;
  border: 1px solid #f7f7f7;
}

.details .content .dedl dt .debig img {
  width: 400px;
  height: 400px;
}

.details .content .dedl dt .delit {
  height: 100px;
  padding-top: 8px;
}

.details .content .dedl dt .delit img {
  width: 68px;
  height: 68px;
  padding: 2px;
  border: 1px solid #f4f4f4;
  float: left;
  margin-right: 8px;
  box-sizing: border-box;
}

.details .content .dedl dd {
  float: left;
  width: 600px;
}

.details .content .dedl dd .detop {
  font-size: 14px;
  color: #666;
}

.details .content .dedl dd .detop .logo_cun {
  width: 22px;
  vertical-align: middle;
  margin-right: 5px;
}

.details .content .dedl dd .detop span,
.details .content .dedl dd .detop i {
  color: #999;
  font-size: 14px;
}

.details .content .dedl dd .demid {
  font-size: 18px !important;
  color: #222 !important;
  padding-right: 40px;
}

.details .content .dedl dd .demid .baoyou {
  color: #ff3b93;
}

.details .content .dedl dd .demid a {
  color: #666;
}

.details .content .dedl dd .demid div {
  width: auto;
  font-size: 14px;
  line-height: 20px;
  color: #666;
}

.details .content .dedl dd .price_box {
  background: #fff9fd;
  padding: 10px 15px;
  color: #666;
}

.details .content .dedl dd .price_box .price_info {
  color: #666;
  margin-bottom: 10px;
}

.details .content .dedl dd .price_box .price_info .tit_txt {
  font-size: 16px;
  color: #666;
  margin-right: 30px;
}

.details .content .dedl dd .price_box .price_info .pbox_price {
  font-size: 22px;
  color: #f43499;
  display: inline-block;
}

.details .content .dedl dd .price_box .price_info .pbox_price .pbox_yen {
  font-size: 20px;
  color: #f43499;
}

.details .content .dedl dd .price_box .price_info .pbox_price em {
  color: #f43499;
}

.details .content .dedl dd .price_box .price_info .pbox_market {
  padding: 0 20px 0 10px;
}

.details .content .dedl dd .price_box .price_info .pbox_market span {
  color: gray;
  font-size: 12px;
}

.details .content .dedl dd .price_box .price_info .pbox_market del {
  font-size: 14px;
  color: #666;
}

.details .content .dedl dd .price_box .price_info .jks {
  font-size: 12px;
  color: #999;
  cursor: pointer;
  background: url(https://img.miyabaobei.com/d1/p5/2016/07/04/06/87/0687eac3bbfba9529050d1f730a3774d197912014.png) no-repeat -3px center;
  width: 55px;
  display: inline-block;
  text-align: right;
}

.details .content .dedl dd .price_box .price_info .jks .layer_shui {
  padding: 10px 20px;
  position: absolute;
  top: 60px;
  left: 357px;
  background: #fff;
  border: 1px solid #ccc;
  visibility: hidden;
  text-align: left;
  line-height: 20px;
  z-index: 10;
}

.details .content .dedl dd .price_box .tit_txt {
  font-size: 16px;
  color: #666;
  margin-right: 30px;
}

.details .content .dedl dd .price_box a {
  display: inline-block;
}

.details .content .dedl dd .price_box a .markwarp {
  font-size: 12px;
  color: #ff3b93;
  line-height: 20px;
  width: 350px;
  margin-bottom: 10px;
}

.details .content .dedl dd .price_box a .markwarp .mark-manzeng {
  display: inline-block;
  height: 21px;
  padding: 0 5px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  margin-right: 8px;
  background-color: #fca43b;
}

.details .content .dedl dd .price_box a .markwarp .mark-tejia {
  display: inline-block;
  height: 21px;
  padding: 0 5px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  margin-right: 8px;
  background-color: #fc6c80;
}

.details .content .dedl dd .price_box a:last-child {
  padding-left: 67px;
}

.details .content .dedl dd .taozhuang,
.details .content .dedl dd .suliang {
  padding: 16px 1px;
  position: relative;
  height: 30px;
  margin: -1px 0;
}

.details .content .dedl dd .taozhuang dt,
.details .content .dedl dd .suliang dt {
  font-size: 16px;
  color: #666;
  margin-right: 30px;
  float: left;
  font-size: 16px;
  width: auto;
  padding-left: 15px;
  width: 70px;
  text-align: left;
}

.details .content .dedl dd .taozhuang dd,
.details .content .dedl dd .suliang dd {
  float: left;
  overflow: hidden;
  width: 475px;
}

.details .content .dedl dd .taozhuang dd span,
.details .content .dedl dd .suliang dd span {
  float: left;
  border: 1px solid #b5b5b5;
  color: #333;
  line-height: 1;
  padding: 8px 10px;
  position: relative;
  margin-right: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 12px;
}

.details .content .dedl dd .taozhuang dd .active::after,
.details .content .dedl dd .suliang dd .active::after {
  content: "";
  background: url(https://img.miyabaobei.com/d1/p6/2018/12/21/c6/94/c694cf9….png) no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 17px;
  height: 16px;
  display: inline-block;
  z-index: 22;
}

.details .content .dedl dd .taozhuang .num_box,
.details .content .dedl dd .suliang .num_box {
  float: left;
  position: relative;
  height: 28px;
  font-size: 12px;
  font-family: Verdana, Geneva, sans-serif;
  color: #666;
}

.details .content .dedl dd .taozhuang .num_box .num_f,
.details .content .dedl dd .suliang .num_box .num_f {
  background-position: 0 -150px;
  cursor: default;
  float: left;
  width: 24px;
  height: 28px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 0;
}

.details .content .dedl dd .taozhuang .num_box .num_r,
.details .content .dedl dd .suliang .num_box .num_r {
  background-position: -50px -150px;
  cursor: pointer;
  float: left;
  width: 24px;
  height: 28px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 0;
}

.details .content .dedl dd .taozhuang .num_box .num_c,
.details .content .dedl dd .suliang .num_box .num_c {
  text-align: center;
  line-height: 26px;
  width: 26px;
  background-color: #fff;
  float: left;
  width: 24px;
  height: 26px;
  font-size: 12px;
  font-family: Verdana, Geneva, sans-serif;
  color: #666;
  border-top: 1px solid #b5b5b5;
  border-bottom: 1px solid #b5b5b5;
}

.details .content .dedl dd .dabtn {
  margin-bottom: 10px;
}

.details .content .dedl dd .dabtn .button_f {
  width: 225px;
  float: left;
  height: 55px;
  padding: 0;
  line-height: 55px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  background-color: #F450A2;
  border-radius: 2px;
  text-align: center;
  border-radius: 10px;
}

.details .content .dedl dd .dabtn .button_f a {
  color: #fff;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
}

.details .content .dedl dd .dabtn .button_g {
  border-radius: 10px;
  margin-left: 12px;
  height: 55px;
  width: 102px;
  font-size: 18px;
  float: left;
  position: relative;
  background: #fff;
  border: 1px solid #e2e2e2;
  font-weight: normal;
  box-sizing: border-box;
  text-align: center;
}

.details .content .dedl dd .dabtn .button_g i {
  width: 100px;
  height: 18px;
  display: block;
  text-align: center;
  margin-top: 8px;
  font-size: 18px;
  font-weight: 900;
}

.details .content .dedl dd .dabtn .button_g a {
  color: #fff;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 14px;
  color: #666;
}

.details .content .dedl dd .other {
  margin-bottom: 10px;
}

.details .content .dedl dd .other dt {
  float: left;
  font-size: 12px;
  width: 46px;
  text-align: left;
  color: gray;
  line-height: 25px;
  width: 46px;
}

.details .content .dedl dd .other dd {
  width: 300px;
  float: left;
  text-align: left;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  color: gray;
}

.details .content .dedl dd .obtom {
  color: #999;
  margin-bottom: 10px;
}

.details .content .dedl dd .obtom ul {
  padding-left: 14px;
}

.details .content .dedl dd .obtom ul li {
  font-size: 12px;
  float: left;
  list-style: disc;
  margin-right: 25px;
  position: relative;
  cursor: pointer;
  text-indent: -9px;
}

.details .content .dedl dd .obtom ul li span {
  display: none;
  left: 0px;
  top: 40px;
  width: 270px;
  padding: 10px 20px;
  position: absolute;
  top: 60px;
  left: 357px;
  background: #fff;
  border: 1px solid #ccc;
  visibility: hidden;
  text-align: left;
  line-height: 20px;
  z-index: 10;
}

.jmg {
  width: 100%;
  background: #fff;
  background-image: url(../img/cline.png);
  background-position: left top;
  background-repeat: repeat-x;
}

.jmg .content {
  width: 1100px;
  margin: auto;
}

.jmg .content .w860 {
  border: 1px solid #ccc;
  padding: 10px;
  width: 840px;
}

.jmg .content .w860 img {
  width: 100%;
}
