.mia {
    width: 100%;
}

.content {
    width: 1100px;
    height: 100%;
    // background: rgba($color:#fff, $alpha: 0.2);
    margin: auto;
}

.clearfix:after {
    content: "";
    height: 0;
    overflow: hidden;
    display: block;
    clear: both;
    visibility: hidden;

}

.top {
    position: relative;
    font-size: 12px;
    height: 29px;
    line-height: 29px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f2f2f2;

    .content {
        a {
            color: #666;
            font-size: 12px;
            height: 29px;
            line-height: 29px;
            margin: 0 10px;

            i {
                color: #fa4b9b;
                line-height: 29px;
            }
        }

        .a-souji {
            margin: 0;

            span {
                margin: 0;
                line-height: 29px;
                color: #666;
            }
        }

        span {
            color: #666;
            margin: 0 10px;
        }

        em {
            color: #666;
        }

        .a_active {
            color: #fa4b9b;

            span {
                color: #fa4b9b;
            }
        }


    }

}

// 搜索框及logo-------------------------------------
.header {
    width: 100%;

    .content {
        padding: 20px 0 25px 0;

        .logo {
            margin: 10px 0 0 0;
            display: inline-block;

            img {
                width: 128px;

            }
        }

        .r {
            float: right;

            .search {
                position: relative;
                float: left;
                margin: 28px 0 0 0;

                .Nsearch {
                    .N_a {
                        float: left;
                        margin-right: -2px;
                        padding: 6px 0;
                        width: 383px;
                        height: 18px;
                        line-height: 18px;
                        text-indent: 10px;
                        font-size: 12px;
                        border: 2px solid #fa4b9b;
                        color: #fa4b9b;
                    }

                    .N_b {
                        float: left;
                        width: 90px;
                        height: 34px;
                        // height: 18px;
                        background: #f9197f;
                        // border: none;
                        text-align: center;
                        color: #fff;
                        font-size: 14px;
                        font-weight: 700;
                        letter-spacing: 5px;
                        cursor: pointer;
                    }

                    .lenovoWord {
                        display: none;
                        // position: absolute;
                        top: 33px;
                        left: 0;
                        width: 384px;
                        border: 1px solid #e5e5e5;
                    }
                }

                .hot {
                    margin-top: 6px;
                    width: 385px;
                    height: 18px;
                    overflow: hidden;

                    a {
                        display: inline-block;
                        vertical-align: 2px;
                        margin-left: -2px;
                        padding: 0 12px;
                        line-height: 1.2;
                        border-left: 1px solid #d7d7d7;
                        font-size: 12px;
                        color: #fa4b9b;
                    }
                }
            }

            .cart {
                position: relative;
                float: left;
                margin: 28px 30px 0 28px;

                a {

                    span {
                        display: block;
                        position: relative;
                        border: 1px solid #e5e5e5;
                        // padding: 0 0 0 35px;
                        width: 107px;
                        height: 32px;
                        line-height: 32px;
                        cursor: pointer;
                        background-color: #fff;
                        text-align: center;
                        font-size: 14px;
                        color: #4f4f4f;
                        float: left;
                    }

                    i {
                        border: 1px solid #ff3893;
                        width: 36px;
                        height: 32px;
                        line-height: 32px;
                        float: left;
                        background-color: #ff3893;
                        z-index: 2;
                        color: #fff;
                        text-align: center;
                    }
                }



                .cart-more {
                    display: none;
                    position: absolute;
                    top: 38px;
                    right: 0;
                    border: 1px solid #fa4b9b;
                    background-color: #fff;

                    div {
                        padding: 10px;
                        width: 270px;
                        text-align: center;
                        font-size: 12px;

                    }
                }


            }

            .a-hover {
                height: 40px;
                background: #fff;
                border: 1px solid #fa4b9b;
                border-bottom: none;
                color: #666;
                box-sizing: border-box;

                .ahovera {
                    z-index: 2;
                    background: #fff;

                    height: 40px;

                    i {
                        color: #666;
                        background: #fff;
                        border: none;
                    }

                    span {
                        border: none;
                        // padding-bottom: 10px;
                    }
                }

                .cart-morehover {
                    display: block;
                    margin-right: -1px;
                    z-index: -1;
                }
            }
        }
    }
}

//nav导航及tab--------------------------------------
.nav {
    // clear: both;
    background-color: #ff3893;

    .content {
        position: relative;

        .nav-box {
            position: absolute;
            top: -3px;
            z-index: 2;
            width: 230px;
            height: 52px;
            line-height: 52px;
            color: #fff;
            background-color: #fa1d81;

            h3 {
                padding-left: 22px;
                font-size: 16px;
                line-height: 52px;
                color: #fff;


            }

            .nav-tab {
                position: relative;
                // display: none;
                background: rgba(255, 255, 255, .9);

                li {
                    background: #000;



                    dl {
                        position: relative;
                        padding: 0 12px;

                        // overflow: hidden;
                        dt {
                            padding: 5px 10px 9px 10px;
                            border-top: 1px dashed #d1d1d1;
                            // position: absolute;
                            // top: -2px;

                            strong {
                                display: block;
                                white-space: nowrap;
                                overflow: hidden;
                                width: 182px;
                                height: 21px;
                                line-height: 21px;


                                a {
                                    color: #fb60a7;
                                    font-weight: bold;
                                    line-height: 21px;
                                    font-size: 14px;
                                }
                            }

                            p {
                                height: 36px;
                                margin-top: 3px;
                                width: 170px;
                                font-size: 12px;
                                line-height: 18px;

                                a {
                                    line-height: 18px;
                                    display: inline-block;
                                    margin-right: 6px;
                                    font-size: 12px;
                                    line-height: 12px;
                                    color: #666;
                                }
                            }
                        }


                        dd {
                            // clear: both;
                            background: #fff;
                            position: absolute;
                            display: none;
                            left: 230px;
                            // width: 1000px;
                            top: 0;
                            border: 1px solid #ccc;
                            white-space: nowrap;

                            .t_left {
                                float: left;
                                // display: inline-block;
                                width: 580px;
                                white-space: normal;

                                .lala {
                                    width: 250px;
                                    padding: 10px;
                                    // display: inline-block;
                                    float: left;

                                    h3 {
                                        padding-bottom: 8px;
                                        font-size: 14px;
                                        border-bottom: 1px solid #000;
                                        color: #222;
                                    }

                                    p {
                                        margin-top: 10px;
                                        line-height: 18px;
                                        width: 250px;

                                        a {
                                            color: #fa4b9b;
                                            display: inline-block;
                                            // vertical-align: top;
                                            margin-right: 10px;
                                            line-height: 18px;
                                            height: 18px;
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }

                            .t_right {
                                height: 100%;
                                background: #fff;
                                display: inline-block;
                                // float: left;
                                // float: right;
                                margin: 15px 20px 0px 13px;
                                max-width: 244px;


                                h3 {
                                    padding-bottom: 8px;
                                    font-size: 14px;
                                    color: #222;

                                }

                                div {
                                    a {
                                        float: left;
                                        margin: 0 0 -1px -1px;
                                        width: 80px;
                                        height: 80px;
                                        overflow: hidden;
                                        border: 1px solid #e5e5e5;
                                        font-size: 0;

                                        img {
                                            width: 100%;
                                        }
                                    }
                                }

                            }
                        }

                        .ddactive {
                            display: block;
                        }
                    }

                    dl:hover {
                        background: #fff;
                        border-top: 1px solid #ccc;
                        border-bottom: 1px solid #ccc;
                        border-left: 3px solid #F00;
                    }


                }


            }
        }

        .nav-list {
            margin-left: 230px;
            height: 46px;
            line-height: 46px;

            li {
                font-size: 16px;
                color: #fff;


                a {
                    display: block;
                    padding: 0 30px;
                    color: #fff;
                    font-size: 16px;
                }

                .liactive {
                    background-color: rgba(70, 31, 31 .7);
                }
            }


        }
    }
}

//banner不会动怎么办---------
.banner {
    // background-image: url("../img/852e398c216ba60d17109396d68c8bb6341922309.png");
    height: 480px;
    width: 100%;
    // background-size: auto 480px;
    // background-position: center;

    .swiper-container {
        width: 100%;
        height: 480px;

        .swiper-slide {
            background-size: auto 480px;
            background-position: center;
            background-repeat: no-repeat;
        }

    }
}