body {
    background: #f9f9f9;

}

.mia {
    width: 100%;
}

.content {
    width: 1100px;
    height: 100%;
    // background: rgba($color:#fff, $alpha: 0.2);
    margin: auto;
}

.clearfix:after {
    content: "";
    height: 0;
    overflow: hidden;
    display: block;
    clear: both;
    visibility: hidden;

}

.top {
    position: relative;
    font-size: 12px;
    height: 29px;
    line-height: 29px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f2f2f2;

    .content {
        a {
            color: #666;
            font-size: 12px;
            height: 29px;
            line-height: 29px;
            margin: 0 10px;

            i {
                color: #fa4b9b;
                line-height: 29px;
            }
        }

        .a-souji {
            margin: 0;

            span {
                margin: 0;
                line-height: 29px;
                color: #666;
            }
        }

        span {
            color: #666;
            margin: 0 10px;
        }

        .cospan1 {
            display: none;
        }

        .cospan2 {
            display: inline;
        }

        em {
            color: #666;
        }

        .a_active {
            color: #fa4b9b;

            span {
                color: #fa4b9b;
            }
        }


    }

}

// 搜索框及logo-------------------------------------
.header {
    width: 100%;
    background: #fff;

    .content {
        padding: 20px 0 25px 0;

        .logo {
            margin: 10px 0 0 0;
            display: inline-block;

            img {
                width: 128px;

            }
        }

        .r {
            float: right;

            .search {
                position: relative;
                float: left;
                margin: 28px 0 0 0;

                .Nsearch {
                    .N_a {
                        float: left;
                        margin-right: -2px;
                        padding: 6px 0;
                        width: 383px;
                        height: 18px;
                        line-height: 18px;
                        text-indent: 10px;
                        font-size: 12px;
                        border: 2px solid #fa4b9b;
                        color: #fa4b9b;
                    }

                    .N_b {
                        float: left;
                        width: 90px;
                        height: 34px;
                        // height: 18px;
                        background: #f9197f;
                        // border: none;
                        text-align: center;
                        color: #fff;
                        font-size: 14px;
                        font-weight: 700;
                        letter-spacing: 5px;
                        cursor: pointer;
                    }

                    .lenovoWord {
                        display: none;
                        // position: absolute;
                        top: 33px;
                        left: 0;
                        width: 384px;
                        border: 1px solid #e5e5e5;
                    }
                }

                .hot {
                    margin-top: 6px;
                    width: 385px;
                    height: 18px;
                    overflow: hidden;

                    a {
                        display: inline-block;
                        vertical-align: 2px;
                        margin-left: -2px;
                        padding: 0 12px;
                        line-height: 1.2;
                        border-left: 1px solid #d7d7d7;
                        font-size: 12px;
                        color: #fa4b9b;
                    }
                }
            }

            .cart {
                position: relative;
                float: left;
                margin: 28px 30px 0 28px;

                a {

                    span {
                        display: block;
                        position: relative;
                        border: 1px solid #e5e5e5;
                        // padding: 0 0 0 35px;
                        width: 107px;
                        height: 32px;
                        line-height: 32px;
                        cursor: pointer;
                        background-color: #fff;
                        text-align: center;
                        font-size: 14px;
                        color: #4f4f4f;
                        float: left;
                    }

                    i {
                        border: 1px solid #ff3893;
                        width: 36px;
                        height: 32px;
                        line-height: 32px;
                        float: left;
                        background-color: #ff3893;
                        z-index: 2;
                        color: #fff;
                        text-align: center;
                    }
                }



                .cart-more {
                    display: none;
                    position: absolute;
                    top: 38px;
                    right: 0;
                    border: 1px solid #fa4b9b;
                    background-color: #fff;

                    div {
                        padding: 10px;
                        width: 270px;
                        text-align: center;
                        font-size: 12px;

                    }
                }


            }

            .a-hover {
                height: 40px;
                background: #fff;
                border: 1px solid #fa4b9b;
                border-bottom: none;
                color: #666;
                box-sizing: border-box;

                .ahovera {
                    z-index: 2;
                    background: #fff;

                    height: 40px;

                    z-index: 2;

                    i {
                        color: #666;
                        z-index: 2;
                        background: #fff;
                        border: none;
                    }

                    span {
                        z-index: 2;
                        border: none;
                        // padding-bottom: 10px;
                    }
                }

                .cart-morehover {
                    display: block;
                    margin-right: -1px;
                    z-index: 1;
                }
            }
        }
    }
}

//nav导航及tab--------------------------------------
.nav {
    // clear: both;
    background-color: #ff3893;

    .content {
        position: relative;

        .nav-box {
            position: absolute;
            top: -3px;
            z-index: 2;
            width: 230px;
            height: 52px;
            line-height: 52px;
            color: #fff;
            background-color: #fa1d81;

            h3 {
                padding-left: 22px;
                font-size: 16px;
                line-height: 52px;
                color: #fff;


            }

            .nav-tab {
                position: relative;
                // display: none;
                background: rgba(255, 255, 255, .9);

                li {



                    dl {
                        position: relative;
                        padding: 0 12px;

                        // overflow: hidden;
                        dt {
                            padding: 5px 10px 9px 10px;
                            border-top: 1px dashed #d1d1d1;
                            // position: absolute;
                            // top: -2px;

                            strong {
                                display: block;
                                white-space: nowrap;
                                overflow: hidden;
                                width: 182px;
                                height: 21px;
                                line-height: 21px;


                                a {
                                    color: #fb60a7;
                                    font-weight: bold;
                                    line-height: 21px;
                                    font-size: 14px;
                                }
                            }

                            p {
                                height: 36px;
                                margin-top: 3px;
                                width: 170px;
                                font-size: 12px;
                                line-height: 18px;

                                a {
                                    line-height: 18px;
                                    display: inline-block;
                                    margin-right: 6px;
                                    font-size: 12px;
                                    line-height: 12px;
                                    color: #666;
                                }
                            }
                        }


                        dd {
                            // clear: both;
                            background: #fff;
                            position: absolute;
                            display: none;
                            left: 230px;
                            // width: 1000px;
                            top: 0;
                            border: 1px solid #ccc;
                            white-space: nowrap;

                            .t_left {
                                float: left;
                                // display: inline-block;
                                width: 580px;
                                white-space: normal;

                                .lala {
                                    width: 250px;
                                    padding: 10px;
                                    // display: inline-block;
                                    float: left;

                                    h3 {
                                        padding-bottom: 8px;
                                        font-size: 14px;
                                        border-bottom: 1px solid #000;
                                        color: #222;
                                    }

                                    p {
                                        margin-top: 10px;
                                        line-height: 18px;
                                        width: 250px;

                                        a {
                                            color: #fa4b9b;
                                            display: inline-block;
                                            // vertical-align: top;
                                            margin-right: 10px;
                                            line-height: 18px;
                                            height: 18px;
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }

                            .t_right {
                                height: 100%;
                                background: #fff;
                                display: inline-block;
                                // float: left;
                                // float: right;
                                margin: 15px 20px 0px 13px;
                                max-width: 244px;


                                h3 {
                                    padding-bottom: 8px;
                                    font-size: 14px;
                                    color: #222;

                                }

                                div {
                                    a {
                                        float: left;
                                        margin: 0 0 -1px -1px;
                                        width: 80px;
                                        height: 80px;
                                        overflow: hidden;
                                        border: 1px solid #e5e5e5;
                                        font-size: 0;

                                        img {
                                            width: 100%;
                                        }
                                    }
                                }

                            }
                        }

                        .ddactive {
                            display: block;
                        }
                    }

                    dl:hover {
                        background: #fff;
                        border-top: 1px solid #ccc;
                        border-bottom: 1px solid #ccc;
                        border-left: 3px solid #F00;
                    }


                }


            }
        }

        .nav-list {
            margin-left: 230px;
            height: 46px;
            line-height: 46px;

            li {
                font-size: 16px;
                color: #fff;


                a {
                    display: block;
                    padding: 0 30px;
                    color: #fff;
                    font-size: 16px;
                }

                .liactive {
                    background-color: rgba(70, 31, 31, 0.7);
                }
            }


        }
    }
}

//banner不会动怎么办--------------------------------
.banner {
    // background-image: url("../img/852e398c216ba60d17109396d68c8bb6341922309.png");
    height: 480px;
    width: 100%;
    // background-size: auto 480px;
    // background-position: center;

    .swiper-container {
        width: 100%;
        height: 480px;

        .swiper-slide {
            background-size: auto 480px;
            background-position: center;
            background-repeat: no-repeat;
        }

    }
}

//品牌烂--------------------------------------------


.pinpai {
    height: 105px;
    overflow: hidden;
    padding-top: 18px;

    .content {
        // background: #000;

        .ppbox {
            margin: 10px 0 0 240px;
            width: 860px;
            height: 105px;
            background: #fff;
            display: none;

            h3 {
                float: left;
                // display: inline-block;
                padding: 0 27px;
                font-size: 18px;
                font-weight: bold;
                color: #444;
                height: 94px;
                line-height: 94px;
                box-sizing: border-box;
                vertical-align: middle;

            }

            .brands {
                display: inline-block;
                vertical-align: middle;
                padding-top: 10px;

                a {
                    width: 94px;
                    color: #666;

                    img {
                        margin: 0 12px;
                        width: 94px;
                    }
                }
            }
        }

        .ppactive {
            display: block;
        }
    }
}

//新人----
.newuser {
    display: none;

    .content {
        a {
            width: 100%;
            display: block;

            img {
                width: 100%;
                display: block;
            }
        }
    }
}

// 为你推荐----------------------------------------

.tuijianlist {
    .content {
        margin-top: 25px;

        h3 {
            font-size: 24px;
            color: #222;

            span {
                margin-left: 18px;
                vertical-align: -1px;
                font-weight: 400;
                font-size: 18px;
                color: #999;
            }
        }

        .tyuid {
            margin-top: 20px;

            .tuia {
                float: left;
                margin-right: -1px;
                width: 219px;
                border: 1px solid #e5e5e5;
                background-color: #fff;
                margin-top: -1px;

                .gds-img {
                    position: relative;

                    img {
                        width: 100%;
                        // opacity: 0.8;
                        // opacity: .5;
                    }

                    .gdsactive {
                        opacity: .8;
                    }
                }



                .rim {
                    min-height: 45px;
                    height: auto !important;
                    position: relative;
                    padding: 15px 15px 65px 15px;


                    .tit {
                        height: 18px;
                        color: #222222;
                        font-size: 12px;
                    }

                    .titactive {
                        color: red;
                    }

                    .desc {
                        font-size: 12px;
                        color: #555;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }

                    .gsh-mark {
                        border: 1px solid #D9849A;
                        color: #D9849A;
                        font-size: 10px;
                        border-radius: 2px;
                        padding: 0 2px;
                        height: 14px;
                        line-height: 14px;
                        position: absolute;
                        bottom: 52px;
                        left: 15px;
                    }

                    .price {
                        position: absolute;
                        left: 15px;
                        line-height: 1.2;
                        margin-top: 8px;
                        bottom: 13px;

                        .new {
                            display: block;
                            margin-bottom: 5px;
                            color: #ff4a49;
                            font-size: 14px;

                            em {
                                font-size: 20px;
                            }
                        }

                        .old {
                            display: block;
                            color: #555;
                            text-decoration: none;
                            font-size: 12px;

                            del {
                                color: #555;
                                font-size: 12px;
                            }
                        }
                    }

                    .buy {
                        position: absolute;
                        bottom: 10px;
                        right: 15px;
                        font-size: 12px;
                        color: #666;
                    }

                    .btn {
                        border-radius: 15px;
                        position: absolute;
                        right: 15px;
                        // bottom: 18px;
                        padding: 0 15px;
                        height: 28px;
                        line-height: 28px;
                        background-color: #fa4b9b;
                        font-size: 12px;
                        color: #fff;
                        background-color: #ff4a49;
                        bottom: 30px;
                    }

                    .btnhover {
                        background: #ff0000;
                    }
                }
            }
        }

    }
}

//大牌贱货----------------------
.dapailist {
    .content {
        margin-top: 25px;

        h3 {
            font-size: 24px;
            color: #222;

            span {
                margin-left: 18px;
                vertical-align: -1px;
                font-weight: 400;
                font-size: 18px;
                color: #999;
            }
        }

        .dolist {
            margin-top: 20px;
            // background: #000;

            .lisdiv {
                margin-bottom: 15px;
                padding: 6px 0;
                border: 1px solid #e5e5e5;
                background-color: #fff;

                .dtop {
                    overflow: hidden;
                    padding: 19px;

                    .tdiv {
                        // display: inline-block;
                        float: left;
                        font-size: 18px;
                        color: #222;

                        a {
                            color: #666;
                            font-size: 18px;

                            .blank_img {
                                // display: inline-block;
                                width: 76px;
                                height: 76px;
                                // border: 2px solid #f4f4f4;
                                border-radius: 8px;
                                -webkit-border-radius: 8px;
                                -moz-border-radius: 8px;
                                vertical-align: middle;
                                margin-right: 10px;
                                overflow: hidden;
                                color: #666;
                                font-size: 18px;

                                .blank_span {
                                    height: 76px;
                                    display: inline-block;
                                    vertical-align: middle;
                                    width: 1px;
                                    margin-left: -1px;
                                    font-size: 18px;
                                    color: #666;
                                }

                                img {

                                    border: 2px solid #f4f4f4
                                }

                                .lazyload {
                                    // width: 100px;
                                    max-width: 100%;
                                    vertical-align: middle;
                                }
                            }
                        }
                    }
                }

                .dbot {
                    padding-left: 20px;
                    // overflow: hidden;

                    .blank_items {
                        width: 195px;
                        margin-right: 20px;
                        float: left;

                        a {
                            color: #666;

                            .gds-img {
                                width: 196px;
                                height: 196px;
                                position: relative;

                                img {
                                    width: 100%;
                                }

                                .free_tax {
                                    text-align: center;
                                    margin-left: 3px;
                                    vertical-align: top;
                                    color: #f72283;
                                    border: 1px solid #faa8cd;
                                    height: 24px;
                                    line-height: 24px;
                                    border-radius: 24px;
                                    -webkit-border-radius: 24px;
                                    background: #ffffff;
                                    padding: 0 10px;
                                    position: absolute;
                                    bottom: 10px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    -webkit-transform: translateX(-50%);
                                    width: auto;
                                    white-space: nowrap;
                                    max-width: 160px;
                                    overflow: hidden;
                                    opacity: 0.9;
                                }
                            }

                            .gds-desc {
                                color: #666;

                                .tit {
                                    height: 48px;
                                    line-height: 24px;
                                    overflow: hidden;
                                    color: #222222;
                                    font-size: 14px;
                                }

                                .price {
                                    .new {
                                        color: #fa4b9b;

                                        em {
                                            font-weight: bold;
                                            font-size: 20px;

                                        }
                                    }

                                    .old {
                                        color: #999;

                                        del {
                                            color: #999;
                                            font-style: normal;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//底部footer------------------
.footer {
    clear: both;

    .content {


        .foottop {
            text-align: center;
            border-top: 1px solid #dfdfdf;
            background: #fff;


            .fbox {
                padding: 20px 0 15px 0;
                border-bottom: 1px solid #f2f2f0;
                font-size: 0;
                margin: 0 auto;
                width: 1100px;

                a {
                    display: inline-block;
                    vertical-align: middle;
                    width: 167px;
                    font-size: 12px;
                    line-height: 1.4;
                    color: #999;

                    img {
                        display: block;
                        margin: 0 auto;
                        width: 60px;
                        height: 60px;
                    }

                    b {
                        display: block;
                        margin-top: 5px;
                        font-size: 15px;
                        color: #333;
                    }
                }
            }
        }

        .footmid {
            background: #fff;
            border-bottom: 1px solid #f2f2f0;
            padding-top: 18px;

            .fbox {
                width: 1000px;
                margin: 0 auto;


                .f-r {
                    margin-right: 40px;
                    font-size: 14px;
                    font-weight: 700;
                    padding-bottom: 8px;
                    line-height: 26px;
                    height: 26px;
                    padding-left: 18px;

                    .f-ul {
                        height: 168px;
                        text-align: left;
                        width: 186px;
                        float: left;

                        li {
                            line-height: 26px;
                            height: 26px;
                            padding-left: 18px;

                            img {
                                clear: both;
                                float: left;
                            }

                            .right {
                                float: left;
                                width: 76px;
                                margin-left: 7px;

                                a {
                                    font-size: 14px;
                                    text-decoration: none;
                                    color: #666;

                                    img {
                                        float: left;
                                    }
                                }

                                .PubBtnHover {
                                    position: relative;
                                    clear: both;

                                    img {

                                        float: left;
                                    }

                                    .wxmore {
                                        position: absolute;
                                        bottom: -60px;
                                        right: 65px;
                                        display: none;
                                    }


                                }

                                .PubBtnHover:hover {
                                    .wxmore {
                                        display: block;
                                    }
                                }
                            }
                        }

                        .strong {
                            font-size: 14px;
                            font-weight: 700;
                        }
                    }
                }

                .f-l {
                    // float: left;
                    display: inline;
                    margin-left: 15px;

                    ul {
                        float: left;
                        width: 132px;

                        li {
                            white-space: nowrap;
                            line-height: 26px;
                            height: 26px;
                            padding-left: 32px;
                            font-size: 12px;
                            color: #666;

                            a {
                                text-decoration: none;
                                color: #666;
                                line-height: 26px;
                                font-size: 12px;
                            }
                        }

                        .strong {
                            font-size: 14px;
                            font-weight: 700;
                            padding-bottom: 5px;
                            font-size: 14px;
                            font-weight: 700;
                            line-height: 26px;
                            height: 26px;
                            padding-left: 32px;

                        }
                    }
                }
            }
        }

        .footbot {
            text-align: center;
            padding-top: 15px;
            background: #fff;
            line-height: 22px;
            color: #979797;

            .fbox {
                width: 1000px;
                margin: 0 auto;
                font-size: 12px;

                p {
                    color: #979797;
                    padding-bottom: 10px;
                    font-size: 12px;


                    a {
                        font-size: 12px;
                        padding: 0 10px;
                        color: #666;
                    }

                    a:hover {
                        color: pink;
                    }
                }

                a {
                    font-size: 12px;
                    padding: 0 10px;
                    color: #666;
                }

                a:hover {
                    color: pink;
                }


            }
        }

    }
}

//侧边栏广告------------------------
.adv {
    .navleft {
        z-index: 99;
        position: fixed;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);

        // .leftimg1 {}

        .leftimg2 {
            position: absolute;
            width: 88px;
            height: 88px;
            bottom: 48px;
            left: 6px;
        }
    }

    .navright {
        z-index: 99;
        position: fixed;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);

        .navlist {
            ul {
                border-radius: 5px 5px 0 0;
                width: 52px;
                border: 1px solid #e6e6e6;
                background-color: #fff;
                text-align: center;
                font-size: 12px;

                li:first-child {
                    border-radius: 5px 5px 0 0;
                    overflow: hidden;
                }

                li {
                    padding: 7px 0 2px 0;
                    border-bottom: 1px solid #e6e6e6;
                    cursor: pointer;
                    position: relative;

                    a {
                        width: 100%;
                        height: 100%;
                        text-decoration: none;
                        color: #666;
                    }

                    i {
                        display: block;
                        margin: 0 auto;
                        width: 28px;
                        height: 28px;
                        line-height: 28px;
                        font-size: 22px;
                        color: #fa4b9b;
                    }

                    .gwcsl {
                        width: 20px;
                        height: 20px;
                        border-radius: 10px;
                        background: red;
                        position: absolute;
                        font-size: 12px;
                        color: #fff;
                        z-index: 99;
                        line-height: 20px;
                        text-align: center;
                        top: 0px;
                        left: 30px;
                    }

                    .wx-f {
                        display: none;
                        position: absolute;
                        width: 157px;
                        height: 193px;
                        right: 97px;
                        bottom: 1px;
                        background: url(../img/wxf.png) no-repeat;
                    }

                    .wxfactive {
                        display: block;

                    }
                }
            }

            .side-top {
                border-radius: 0 0 5px 5px;
                position: relative;
                margin-top: -2px;
                height: 28px;
                background: #fa4b9b;
                cursor: pointer;

                a {
                    width: 100%;
                    height: 100%;
                    display: block;
                    padding: 14px;



                    i {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin: -5px 0 0 -6px;
                        right: 0;
                        width: 0;
                        height: 0;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        border-bottom: 10px solid #fff;
                    }
                }
            }
        }
    }
}