 #app {
     width: 1130px;
     //  height: 1300px;
     min-height: 500px;
     margin: 0 auto;
     //  background: #eee;
     padding-left: 15px;
 }

 .product-item {
     width: 267px;
     height: 413px;
     color: #666;
     background: #fff;
     margin: 5px;
     /* margin-right: 5px;
            margin-left: 5px; */
     /* display: inline-block; */
     position: relative;
     float: left;
 }

 /* .product-item:hover {
            border: 1px solid #f450a2
        }
         */

 .product-item a {
     width: 267px;
     height: 267px;
 }

 .item-img {
     width: 267px;
     height: 267px;
 }

 .item-info {
     width: 247px;
     height: 120px;
     /* background: #999; */
     margin: 10px;
     /* border: 1px solid #000; */
 }

 em {
     font-size: 14px;
     color: #f450a2
 }

 .priceA {
     font-size: 20px;
     font-weight: 700;
     color: #f450a2;
 }

 .priceB {
     text-align: right;
     line-height: 30px;
     font-size: 12px;
     float: right;
     color: #888;
     margin: 3px 15px 0 0;
     text-decoration: line-through;
 }

 .item-info-name a {
     font-size: 12px;
     text-decoration: none;
     color: #666;
     cursor: pointer;
     height: 50px;
     overflow: hidden;
     width: 220px;
     padding: 5px;
     display: inline-block;
     line-height: 24px;
     height: 22px;
 }

 .item-info-name a:hover {
     height: 44px;
     color: #f450a2
 }

 .tahoma_active {
     line-height: 25px;
     height: 25px;
     font-size: 12px;
     color: #fa4b9b;
     line-height: 1.5;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     margin-top: 5px;
 }

 .active-type {
     color: #fff;
     background: #f450a2;
     //  width: 130px;
     font-size: 12px;
     display: inline-block;
     text-align: center;
     color: #fff;
     background: #fa4b9b;
     padding: 0 2px 2px 2px;
     margin-right: 7px;
 }

 .active-text {
     color: rgb(114, 100, 100);
     background: #eee;
     /* margin-left: 10px; */
     font-size: 10px;
     /* width: 100px; */
     /* display: inline-block; */
     /* text-align: center; */
 }

 .page {
     /* position: fixed; */
     /* bottom: 0px; */
     width: 1130px;
     margin: 20px auto;
     /* background: #195; */
     text-align: center;
     font-size: 0;
     font-family: Verdana;
     padding: 10px 16px
 }

 .page a {
     display: inline-block;
     height: 20px;
     padding: 0 7px;
     border: #CCC solid 1px;
     font: 12px/20px Verdana;
     text-decoration: none;
     margin-left: 5px;
     background: #FFF
 }

 .page a:hover {
     background: #09F;
     color: #FFF;
     /* border-color: #09F */
 }

 .page .active {
     background: #CCC
 }

 .page a:active {
     opacity: .8
 }

 #nav {
     width: 1100px;
     height: 50px;
     line-height: 50px;
     margin: 0 auto;
     /* background: #999; */
     padding-left: 15px;
     //  border: 1px solid #f450a2;
     background: #FFF;
     margin: 20px auto;
 }

 #nav li {
     float: left;
     width: 75px;
     font-size: 12px;
     line-height: 50px;
     color: #f450a2;
     cursor: pointer;
 }